body{
    font-family: 'Courier New', Courier, monospace;
}
section{
    display: flex;
    flex:15%;
    column-gap: 10px;
    width:100%;
    justify-content: left;
    align-items: center;
}
div{
    padding: 10px;
    box-shadow: 10px 10px 5px whitesmoke;
}
div img{
    border:2px solid black; 
}
div h1{
    font-size:20px;
}