body{
    font-family: 'Courier New', Courier, monospace;
}
.block1{
    display:flex;
    width:100%;
    padding: 20px;
}
block2{
    display:inline;
    width:100%;
    padding:30px;
}
.block3{
    padding-left:40%;
}
ul{
    display:flex;
    list-style-type: none;
    padding: 20px;
    justify-content: space-evenly;
    column-gap: 20px;
}
.tasty{
    padding-top: 10px;
    padding-right:22%;
    padding-left:18%;
    margin:10px;
    border:3px solid white;
    text-decoration: none; 
}
input{
    padding: 20px;
    background-color: #ffb400;
}
select{
    padding:20px;
    background-color: #ffb400;
}
.b1{
    padding: 20px;
    margin:20px;
    background-color: aliceblue;
}
.b2{
    padding: 20px;
    margin:20px;

}
.form1{
   background-color: #ffb400;
   padding: 20px;
   margin-left:180px;
   width: 68%;
}
